[client-server]
# Définition de l'utilisateur à employer lors des interactions client-serveur
user=root

# Importer tous les fichiers .cnf situés dans les répertoires de configuration
# Les préfixes « !include » permettent d'incorporer dynamiquement plusieurs configurations
# provenant de divers emplacements, favorisant ainsi leur modularité et gestion
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]
# Port d'écoute du serveur MySQL/MariaDB
port=3306

# Emplacement physique du stockage des bases de données
datadir=/var/lib/mysql

# Chemin absolu du socket Unix employé pour les communications entre clients et serveurs locaux
socket=/var/run/mysqld/mysqld.sock

# Adresse IP à laquelle le serveur écoutera les connexions externes ;
# En fixant cette valeur à 0.0.0.0, on autorise explicitement toutes les sources de trafic réseau
bind_address=0.0.0.0
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# skip-networking=false

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4